<footer class="text-center text-lg-start bg-light text-muted mt-4">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    style="background-color: rgb(112, 241, 112);">
    <!-- Left -->

    <div class="container">
      <div class="row">
        <div class="tt-col-icon">
          <img src="//bizweb.dktcdn.net/100/315/907/themes/663622/assets/fot_policy_image_1.png?1628515078932"
            alt="Miễn phí vận chuyển" class="img-responsive">
        </div>
        <div class="col-sm">
          <p style="color:#ffffff; font-weight:500" >MIỄN PHÍ VẬN CHUYỂN</p>
          <p style="font-size: 0.9rem; color:#ffffff; " >với đơn hàng trên 1tr VND</p>
        </div>
        <div class="tt-col-icon">
          <img src="//bizweb.dktcdn.net/100/315/907/themes/663622/assets/fot_policy_image_2.png?1628515078932"
            alt="Hỗ trợ 24/7" class="img-responsive">
        </div>
        <div class="col-sm">
          <p style="color:#ffffff; font-weight:500">HỖ TRỢ 24/7</p>
          <p style="font-size: 0.9rem; color:#ffffff; ">Luôn có mặt mỗi khi khách hàng cần</p>
        </div>
        <div class="tt-col-icon">
          <img src="//bizweb.dktcdn.net/100/315/907/themes/663622/assets/fot_policy_image_3.png?1628515078932"
            alt="30 ngày trả hàng" class="img-responsive">
        </div>
        <div class="col-sm">
          <p style="color:#ffffff; font-weight:500">30 NGÀY TRẢ HÀNG</p>

          <p style="font-size: 0.9rem; color:#ffffff; ">trả lại hàng trong 30 ngày</p>
        </div>
      </div>
    </div>


  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Thông tin cửa hàng
          </h6>
          <p>
            Cửa hàng hiện đang đóng cửa vui lòng liên hệ sau
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Sản phẩm
          </h6>
          <p>
            <a href="#!" class="text-reset">Thú cưng</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Đồ dùng</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Thức ăn</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Khác</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Hỗ trợ khách hàng
          </h6>
          <p>
            <a href="#!" class="text-reset">Mua hàng</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Bảo hành</a>
          </p>
          <p>
            <a href="#!" class="text-reset">tips chăm sóc thú cưng</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Liên hệ
          </h6>
          <p><i class="fas fa-home me-3"></i> Nhà riêng</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            vuchung682001@gmail.com
          </p>

          <p><i class="fas fa-print me-3"></i> + 66771508</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->