<div class="mt-4">
    <h3>Create</h3>

    <form method="POST" action="/items/store">
        <div class="form-group">
            <label for="name">name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
       
        <div class="form-group">
            <label for="img">img</label>
            <input type="text" class="form-control" id="img" name="img">
        </div>
        <div class="form-group">
            <label for="cost">cost</label>
            <input type="text" class="form-control" id="cost" name="cost">
        </div>
        <div class="form-group">
            <label for="type">type</label>
            <input type="text" class="form-control" id="type" name="type">
        </div>
        <div class="form-group">
            <label for="type">desc</label>
            <input type="text" class="form-control" id="desc" name="desc">
        </div>
         <div class="form-group">
            <label for="type">Use</label>
            <input type="text" class="form-control" id="use" name="use">
        </div>
        
        <button type="submit" class="btn btn-primary">OK</button>
    </form>
</div>